# This is a pip requirements file for a Python web application.

# The following packages are necessary for the application to run properly.
# The '*' at the end of the version number allows for minor bugfix updates.

gunicorn==21.2.*
dash==2.16.*
dash-bootstrap-components==1.5.*
dash-vega-components==0.9.*
altair==5.3.*
pandas==2.2.*
joblib==1.3.*
scikit-learn==1.3.*
pyarrow==15.0.2
flask-caching==2.1.0

# Note: gunicorn is included as it is required for Render and many other web services.
# It is a HTTP server specifically for Python web applications and handles communication
# between the Python app and the webserver.